.header {
  height: 77px;
}

.wrapper {
	min-height: 100%;
}
.wrapper__content {
	position: relative;
    height: 100%;
}

.wrapper__content--main {
  background: url("../../img/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
	position: absolute;
	width: 1920px;
	height: 1202px;
	left: 0px;
	top: 0px;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1141px;
}